---
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
import LetterGlitch from "../React/LetterGlitch.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
	<div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
		<div class="text-left space-y-4">
			<p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
				Hola, soy Diego Monroy
			</p>
			<div class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4">
				<h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none">
					Full Stack<br />
					Developer
				</h1>
				<p class="text-md md:text-2xl text-[var(--white-icon)]">
					Transformando ideas en experiencias digitales interactivas y fluidas a través de un desarrollo <span class="text-[var(--sec)] shiny-sec">Full Stack</span> de vanguardia.
				</p>
			</div>
		</div>
		<div class="flex justify-start gap-2 pt-3 md:pt-6">
			<a
				target="_blank"
				href="https://mail.google.com/mail/?view=cm&fs=1&to=dmsoftwaresas@gmail.com&su=¡Hola%20Diego!"
				aria-label="Email"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
			>
				<i class="fa-solid fa-envelope"></i>
			</a>
			<a
				target="_blank"
				href="https://api.whatsapp.com/send/?phone=573138950603&text&type=phone_number&app_absent=0"
				aria-label="WhatsApp"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
			>
				<i class="fa-brands fa-whatsapp"></i>
			</a>
			<a
				target="_blank"
				href="https://www.linkedin.com/in/diego-monroy/"
				aria-label="LinkedIn"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
			>
				<i class="fa-brands fa-linkedin"></i>
			</a>
			<a
				target="_blank"
				href="https://www.github.com/diegomonroy/"
				aria-label="GitHub"
				class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
			>
				<i class="fa-brands fa-github"></i>
			</a>
		</div>
	</div>
	<LogoWall />
	<div class="flex flex-col lg:flex-row items-center gap-8">
		<SkillsList client:load />
		<div class="flex justify-center md:w-full md:h-[452px] size-[450px] pt-3 md:pt-9 md:ml-16">
			<LetterGlitch
				client:load
				glitchColors={["#5e4491", "#A476FF", "#241a38"]}
				glitchSpeed={30}
				centerVignette={false}
				outerVignette={true}
				smooth={true}
			/>
		</div>
	</div>
</section>

<style is:global>
	.shiny-sec {
		background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
		-webkit-background-clip: text;
		background-clip: text;
		background-size: 400% 100%;
		color: transparent;
		animation: shine 3s linear infinite;
	}
	@keyframes shine {
		0% {
			background-position: 100% 50%;
		}
		30%,
		70% {
			background-position: 0% 50%;
		}
	}
</style>
